<p id="notice"><%= notice %></p>

<br>

<%= link_to 'New Lov Status', new_lov_status_path %> |
<%= link_to 'Tokis', tokis_url %>>
<hr>

<h1>Lov Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lov_statuses.each do |lov_status| %>
      <tr>
        <td><%= lov_status.status %></td>
        <td><%= link_to 'Show', lov_status %></td>
        <td><%= link_to 'Edit', edit_lov_status_path(lov_status) %></td>
        <td><%= link_to 'Destroy', lov_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


